.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  margin: 40px auto 64px !important;
  padding: 40px;
  background: #ffffff;
  color: var(--theme-text);
  &.other {
    background: none;
    .markdown-body-title {
      text-align: center;
      padding-bottom: 40px;
      @media (max-width: 1100px) {
        padding-bottom: 16px;
        margin-bottom: 16px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1440px) {
    padding: 24px;
  }
  .page-title {
    margin-top: 0;
  }
  @media (max-width: 1100px) {
    padding: 16px;
    margin: 40px auto !important;
  }
  div[class*='language-'] {
    margin-bottom: 16px;
    background: rgba(var(--theme-black-rgb), 0.3);
    border: 1px solid var(--theme-cross-line);
    border-radius: 0;
    @media (max-width: 1000px) {
      margin-bottom: 8px;
    }
    pre {
      padding: 1em;
      margin: 0.5em 0;
      overflow: auto;
      code {
        color: var(--theme-text);
      }
    }
  }
  h1 {
    line-height: 48px;
    font-size: 36px;
    margin: 40px 0 20px;

    @media (max-width: 1000px) {
      font-size: 18px;
      line-height: 18px;

      margin: 30px 0 20px;
    }
  }
  h2 {
    line-height: 24px;
    font-size: 24px;
    margin: 40px 0 20px;

    @media (max-width: 1000px) {
      font-size: 18px;
      line-height: 18px;

      margin: 30px 0 20px;
    }
  }
  h3 {
    line-height: 20px;
    font-size: 18px;
    margin: 40px 0 12px;
    font-weight: 500;

    @media (max-width: 1000px) {
      font-size: 16px;
      line-height: 22px;
      margin: 16px 0 8px;
    }
  }
  h4 {
    line-height: 18px;
    font-size: 18px;
    margin: 30px 0 20px;

    @media (max-width: 1000px) {
      font-size: 15px;
      line-height: 15px;

      margin: 30px 0 20px;
    }
  }
  h5 {
    line-height: 16px;
    font-size: 16px;
    margin: 30px 0 20px;

    @media (max-width: 1000px) {
      font-size: 14px;
      line-height: 14px;

      margin: 30px 0 20px;
    }
  }
  h2,
  h3,
  h4,
  h5 {
    color: var(--theme-title);
    font-weight: 500;
  }
  p,
  ul li,
  ol li {
    font-size: 14px;
    color: var(--theme-text);
    line-height: 24px;

    @media (max-width: 1000px) {
      line-height: 18px;
      font-size: 12px;
    }
    a {
      color: var(--theme-active);
      text-decoration: none;
      font-weight: 600;
      cursor: pointer;
    }
    b {
      color: var(--theme-title);
    }
  }
  p {
    margin-bottom: 8px;
    @media (max-width: 1000px) {
      line-height: 18px;
      font-size: 12px;
    }
  }
  a[href^='#'] {
    display: none;
  }
  .icon.outbound {
    display: none;
  }
  a,
  li,
  p {
    @media (max-width: 1000px) {
      word-break: break-all;
      word-wrap: break-word;
    }
  }
  table {
    width: 100%;
    font-size: 14px;
    table-layout: fixed;
    word-break: break-word;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 16px 0;
    tr {
      color: var(--theme-text);

      th {
        background-color: var(--theme-form-head);
        color: var(--theme-title);
      }
      th,
      td {
        padding: 12px 16px;
        border-bottom: 1px solid var(--theme-cross-line);
      }
    }
    // tr:nth-child(even) {
    //   th,
    //   td {
    //     background-color: var(--theme-cross-line);
    //   }
    // }
  }
  ul,
  ol {
    list-style: initial;
    padding-left: 30px;
  }
  ol {
    list-style: decimal;
  }
  strong {
    font-weight: bold;
  }
  img {
    height: auto;
    max-width: 60%;
    margin: 16px 0;
    background-color: #ffffff;
  }
  p {
    img {
      text-align: center;
      display: inline-block;
      vertical-align: middle;

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  hr {
    margin: 40px 0;
    @media (max-width: 1000px) {
      margin: 24px 0;
    }
  }
  blockquote {
    padding: 10px 15px;
    border-left-style: solid;
    border-left-width: 10px;
    border-color: var(--theme-cross-line);
    background: none repeat scroll 0 0 rgba(var(--theme-black-rgb), 0.05);
    margin: 24px 0;
  }
  a {
    color: var(--theme-active);
    font-weight: 500;
  }
}
